.FileDiv 
{ 
    cursor: pointer;
    display: flex;
    margin-top: 20px;
}

.DeleteButton {
    display: none;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 15px;
}

.FileDiv:hover .DeleteButton
{
    display: block;
}
